{% extends "JP\AdminBundle::layout.html.twig" %}

{% block body %}
<div class="content-box-large"> 
                    <div class="panel-body">

    <h1>CREATION AVANTAGE</h1>
    <hr>
<div >
        <p class="text-right">
            <a class ="btn btn-default" href="{{ path('admin_avantage_index')  }}"> <i class="fa fa-reply"></i> Retour a la liste</a>
        </p>
    </div>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-success" type="submit" value="Valider" />
    {{ form_end(form) }}

   </div></div>
{% endblock %}
