{% extends "JPFichePaieBundle::login_layout.html.twig" %}

{% block title %}JPFichePaieBundle:Home:fiche{% endblock %}

{% block body %}


          {{ include("JPFichePaieBundle:Compagny:menu.html.twig") }}


                 <div class="col-md-8">
                  <div class="content-box-large">
                      {% block fos_user_content %}
                              {% include "FOSUserBundle:Profile:edit_content.html.twig" %}
                              {% endblock fos_user_content %}
                              
                              </div>
                              
                      </div>
                 
  
 


{% endblock %}
    