 <div class="col-md-offset-1 col-md-3">
            <div class="sidebar content-box" style="display: block;">
                    <ul class="nav">
                        <!-- Main menu -->
                        <li><a href="{{path('jp_fiche_paie_document')}}"><i class="fa fa-files-o"></i> Documents</a></li>
                       <li ><a href="{{path('fiche_paie_compagny_index')}}"><i class="fa fa-home"></i> Entreprises</a></li>
                        <li><a href="{{path('jp_fiche_paie_compte')}}"><i class="fa fa-user"></i> Profil</a></li>
                        <li ><a href="{{path('jp_fiche_paie_facture')}}"><i class="fa fa-list"></i> Factures</a></li>      

                                            </ul>
                 </div>
               </div>